In [18]:
from sklearn.model_selection import train_test_split

In [19]:
data = pd.read_csv("sms_spam.csv")

In [20]:
import pandas as pd

In [21]:
data.head()

   type                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [22]:
data.replace(to_replace = ["ham" , "spam" ], value = [0, 1], inplace = True)

In [23]:
data.head()

   type                                               text
0     0  Go until jurong point, crazy.. Available only ...
1     0                      Ok lar... Joking wif u oni...
2     1  Free entry in 2 a wkly comp to win FA Cup fina...
3     0  U dun say so early hor... U c already then say...
4     0  Nah I don't think he goes to usf, he lives aro...

Step 1: Completed

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5574 entries, 0 to 5573
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   type    5574 non-null   int64
 1   text    5574 non-null   object
dtypes: int64(1), object(1)
memory usage: 87.2+ KB

In [25]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [26]:
myCorpus = data['text']

In [27]:
myCorpus.head()

0    Go until jurong point, crazy.. Available only ...
1                        Ok lar... Joking wif u oni...
2    Free entry in 2 a wkly comp to win FA Cup fina...
3    U dun say so early hor... U c already then say...
4    Nah I don't think he goes to usf, he lives aro...
Name: text, dtype: object

In [28]:
vectorizer = TfidfVectorizer()

In [29]:
transformed_corpus = vectorizer.fit_transform(myCorpus).toarray()

Note: To do '.toarray()'

In [30]:
transformed_corpus

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [31]:
vectorizer.get_feature_names_out()

array(['00', '000', '000pes', ..., 'èn', 'ú1', '〨ud'], dtype=object)

In [32]:
transformed_corpus.shape

(5574, 8713)



Step 2: Completed

In [33]:
from sklearn.naive_bayes import GaussianNB

In [34]:
X = transformed_corpus

In [35]:
y = data['type']

In [38]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [37]:
gnb = GaussianNB()

In [39]:
y_pred = gnb.fit(X_train, y_train)

In [42]:
test1 = vectorizer.transform(["Congrats!"]).toarray()

In [43]:
y_pred.predict(test1)

array([1])

Step 3: Completed

In [44]:
from sklearn.metrics import roc_curve

In [54]:
pred_prob = gnb.predict_proba(X_test)

In [55]:
fpr1, tpr1, thresh1 = roc_curve(y_test, pred_prob[:,1], pos_label=1)

In [56]:
fpr1

array([0.       , 0.0873515, 1.       ])

In [57]:
tpr1

array([0.        , 0.90082645, 1.        ])

In [61]:
thresh1

array([2., 1., 0.])

In [58]:
from sklearn.metrics import roc_auc_score

In [59]:
auc_score1 = roc_auc_score(y_test, pred_prob[:,1])

In [60]:
auc_score1

0.9067374719175747

Step 4: Completed